<div class="mat-elevation-z8">
  <table mat-table [dataSource]="assigments" class="full-width-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Naam</th>
      <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>

    <ng-container matColumnDef="credits">
      <th mat-header-cell *matHeaderCellDef>Credits</th>
      <td mat-cell *matCellDef="let row"> {{ row.credits }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button class="btn btn-outline-primary float-right" [routerLink]="'/staff/manage-subjects/'+ courseId +'/subjects/' + subjectId+ '/assignments-overview/add'">Nieuwe assigment</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex justify-content-end">
          <button class="btn btn-sm btn-outline-dark mr-1" title="Bekijk submissies" [routerLink]="'/staff/manage-subjects/'+ courseId +'/subjects/' + subjectId+ '/assignments-overview/show/' + row.id">
            <fa-icon [icon]="faFileExport"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary mr-1" title="Wijzig assigment" [routerLink]="'/staff/manage-subjects/'+ courseId +'/subjects/' + subjectId+ '/assignments-overview/edit/' + row.id">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" title="Verwijder assigment" (click)="deleteCourse(row.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

</div>
