<p *appHasRole="'student'">dashboard-overview works! your role: student!</p>
<p *appHasRole="'teacher'">dashboard-overview works! your role: teacher!</p>
<p *appHasRole="'admin'">dashboard-overview works! your role: admin!</p>
<br>
<app-data-table [pageList]="pageList"
                [displayedColumns] = "columns"
                [dataTableData]="data"
></app-data-table>
<br><br><br>
<app-data-table [pageList]="pageList"
                [displayedColumns] = "columns1"
                [dataTableData]="data1"
></app-data-table>

