<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav [mode]="options.mode" [(opened)]="options.opened" class="sidenav" [fixedInViewport]="options.fixed" [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
    <ul class="list-group list-group-flush" *ngIf="options.mode === 'over'">
      <li class="list-group-item">
        <a class="nav-link" routerLink="/">Dashboard </a>
      </li>
      <li class="list-group-item">
        <a class="nav-link" routerLink="/staff">Staff </a>
      </li>
    </ul>
    <div class="card-header" *ngIf="options.mode === 'over'">
      Links
    </div>
    <ng-content select=".links"></ng-content>
    <div class="card-header" *ngIf="options.mode === 'over'">
      Acties
    </div>
    <ul class="list-group list-group-flush" *ngIf="options.mode === 'over'">
      <li class="list-group-item">
        <a class="nav-link" (click)="sidenav.toggle()">Sluiten</a>
      </li>
      <li class="list-group-item">
        <a class="nav-link" (click)="logout()">Logout </a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="m-4">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
