<button class="btn btn-primary" routerLink="/staff/courses/create">Nieuwe course</button>

<table mat-table [dataSource]="courses" class="full-width-table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Naam</th>
    <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-1" title="Vakken beheren" [routerLink]="'/staff/manage-subjects/' + row.id">
          <i class="fas fa-tasks"></i>
        </button>
        <button class="btn btn-primary mr-1" title="Wijzig course" [routerLink]="'/staff/courses/' + row.id + '/edit'">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger" title="Verwijder course" (click)="deleteCourse(row.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
