<div class="row mb-4">
  <div class="col">
    <label for="select-course">Selecteer course</label>
    <select id="select-course" class="form-control" [disabled]="courses.length === 0" [(ngModel)]="course" (change)="updateSubjects()">
      <option value="0" selected disabled>Selecteer course</option>
      <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.name }}</option>
    </select>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="select-subject">Selecteer vak</label>
    <select id="select-subject" class="form-control" [disabled]="subjects.length === 0" [(ngModel)]="subject" (change)="updateAssignments()">
      <option value="0" selected disabled>Selecteer vak</option>
      <option *ngFor="let subject of subjects" value="{{ subject.id }}">{{ subject.name }}</option>
    </select>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="select-assignment">Selecteer opdracht</label>
    <select id="select-assignment" class="form-control" [disabled]="assignments.length === 0" [(ngModel)]="assignment">
      <option value="0" selected disabled>Selecteer opdracht</option>
      <option *ngFor="let assignment of assignments" value="{{ assignment.id }}">{{ assignment.name }}</option>
    </select>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <!-- in app.component.html -->
    <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'text/csv'">
      <ngx-dropzone-label>Sleep CSV bestand hierheen!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <button class="btn btn-block btn-primary" [disabled]="this.assignment === 0 || files.length != 1" (click)="submit()">Importeren</button>
  </div>
</div>
