<div class="row mb-4">
  <div class="col">
    <label for="select-teacher">Docent</label>
    <select id="select-teacher" class="form-control" [(ngModel)]="selectedStaff">
      <option value="" selected disabled>Selecteer docent</option>
      <option *ngFor="let teacher of staff" [value]="teacher.id">{{ teacher.abbreviation }}</option>
    </select>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="select-teacher">Tot en met (yyyy-mm-dd)</label>
    <input class="form-control" type="text" [(ngModel)]="untillDate">
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="reason">Reden</label>
    <select id="reason" class="form-control" [(ngModel)]="selectedReason">
      <option value="" selected disabled>Selecteer reden</option>
<!--      <option value="available">Aanwezig</option>-->
      <option value="leave">Vrij</option>
      <option value="sick">Ziek</option>
    </select>
  </div>
</div>


<div class="row mb-4">
  <div class="col">
    <button class="btn btn-block btn-primary" [disabled]="selectedReason.length === 0 || selectedStaff.length === 0 || untillDate.length === 0" (click)="submit()">Absent melden</button>
  </div>
</div>
