<div class="row mb-4">
  <div class="col">
    <label for="select-teacher">Docent</label>
    <select id="select-teacher" class="form-control">
      <option value="" selected disabled>Selecteer docent</option>
      <option *ngFor="let teacher of staff" [value]="teacher.id">{{ teacher.abbreviation }}</option>
    </select>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="select-teacher">Tot en met</label>
    <input class="form-control" placeholder="yyyy-mm-dd" (click)="d.toggle()"
           name="dp" [(ngModel)]="untillDate" ngbDatepicker #d="ngbDatepicker">
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="reason">Eventuele reden</label>
    <textarea class="form-control" id="reason"></textarea>
  </div>
</div>


<div class="row mb-4">
  <div class="col">
    <button class="btn btn-block btn-primary">Absent melden</button>
  </div>
</div>
