<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          Menu
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="nav-link" routerLink="/staff/overview">Courses</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" routerLink="/staff/overview">Ziekmeldingen</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" routerLink="/staff/overview">Cijfers</a>
          </li>
        </ul>
    </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
