<h1>{{ page['name'] }}</h1>
<small>
  {{ page['content'] }}
</small>

<div class="mt-5">
  <mat-card *ngFor="let item of page['items']" class="mb-3">
    <h6>{{ item.title }}</h6>

    <ng-container *ngIf="item.type === 'text'">
      <p>{{ item.content }}</p>
    </ng-container>

    <ng-container *ngIf="item.type === 'files'">
      <ul>
        <li *ngFor="let file of item.content | keyvalue">
          <a [href]="path + 'storage/' + file.key" target="_blank">{{ file.value }}</a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="item.type === 'assignment'">
      <!-- in app.component.html -->
      <ngx-dropzone (change)="upload($event, item.assignment_id)" [multiple]="false" *ngIf="assigments[item.assignment_id] === undefined">
        <ngx-dropzone-label>Sleep bestand hierheen!</ngx-dropzone-label>
      </ngx-dropzone>
      <p *ngIf="assigments[item.assignment_id] !== undefined"><a [href]="path + 'storage/' + assigments[item.assignment_id].file" target="_blank">Bekijk submissie</a></p>
    </ng-container>
  </mat-card>
</div>
