<h1>{{ page['name'] }}</h1>
<small>
  {{ page['content'] }}
</small>

<div class="mt-5">
  <mat-card *ngFor="let item of page['items']" class="mb-3">
    <h6>{{ item.title }}</h6>

    <ng-container *ngIf="item.type === 'text'">
      <p>{{ item.content }}</p>
    </ng-container>

    <ng-container *ngIf="item.type === 'files'">
      <ul>
        <li *ngFor="let file of item.content | keyvalue">
          <a href="{{ path + file.key.replace('public', 'storage') }}" target="_blank">{{ file.value }}</a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="item.type === 'assignment'">
      <!-- in app.component.html -->
      <ngx-dropzone (change)="upload($event, item.content)" [multiple]="false" *ngIf="assigments[item.content] === undefined">
        <ngx-dropzone-label>Sleep bestand hierheen!</ngx-dropzone-label>
      </ngx-dropzone>
      <h3 *ngIf="assigments[item.content] !== undefined"><a [href]="path + 'storage/' + assigments[item.content].file" target="_blank">Bekijk submissie</a></h3>
    </ng-container>
  </mat-card>
</div>
