<select name="show_type" id="show_type" class="form-control mb-3" [(ngModel)]="showType">
  <option value="staff" selected>Staff</option>
  <option value="students">Studenten</option>
</select>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="staffs" matSort aria-label="Elements" *ngIf="showType === 'staff'">
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef>Naam</th>
      <td mat-cell *matCellDef="let row"> {{ row.user.full_name }} </td>
    </ng-container>

    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let row"> {{ row.abbreviation }} </td>
    </ng-container>

    <ng-container matColumnDef="office_location">
      <th mat-header-cell *matHeaderCellDef>Locatie</th>
      <td mat-cell *matCellDef="let row"> {{ row.office_location }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button class="btn btn-outline-primary float-right" routerLink="/staff/user-management/staff/add">Docent aanmaken</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex justify-content-end">
          <button class="btn btn-sm btn-primary mr-1" title="Wijzig staff" [routerLink]="'/staff/user-management/staff/edit/' + row.id">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" title="Verwijder staff" (click)="deleteStaff(row.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="staffColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: staffColumns;"></tr>
  </table>

  <table mat-table class="full-width-table" [dataSource]="students" matSort aria-label="Elements" *ngIf="showType === 'students'">
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef>Naam</th>
      <td mat-cell *matCellDef="let row"> {{ row.user.full_name }} </td>
    </ng-container>

    <ng-container matColumnDef="student_number">
      <th mat-header-cell *matHeaderCellDef>Studentennummer</th>
      <td mat-cell *matCellDef="let row"> {{ row.student_number }} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button class="btn btn-primary float-right"  routerLink="/staff/user-management/student/add">Student aanmaken</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary mr-1" title="Wijzig student" [routerLink]="'/staff/user-management/student/edit/' + row.id">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-danger" title="Verwijder student" (click)="deleteStudent(row.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="studentsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: studentsColumns;"></tr>
  </table>
</div>
