<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let announcement of announcements">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{announcement['title']}}
      </mat-panel-title>
      <mat-panel-description>
        <span class="badge badge-secondary float-right">{{announcement['poster']['abbreviation']}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="content-announcement">{{announcement['content']}}</p>

    <blockquote class="blockquote mb-0 mt-3">
      <footer class="blockquote-footer"><small>{{announcement['poster']['user']['full_name'] + " op: " + announcement['created_at_formatted']}}</small></footer>
    </blockquote>
  </mat-expansion-panel>
</mat-accordion>
