<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let grade of grades">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <u><i>{{grade['assignment']['subject']['name']}}</i></u> {{ ": " + (grade['grade']| number:'1.1-1')}}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="grade['grade'] < 5.5" class="badge badge-danger">Onvoldoende</span>
        <span *ngIf="grade['grade'] >= 5.5" class="badge badge-success">Voldoende</span>
        <span class="badge badge-primary ml-1">{{grade['assignment']['credits'] + " EC"}}</span>
        <span class="badge badge-secondary ml-1">{{grade['recorder']['abbreviation']}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <strong><p class="content-announcement">{{grade['assignment']['name']}}</p></strong>
    <p class="content-announcement"><i>{{"Jouw cijfer: "}}</i> {{(grade['grade']| number:'1.0-2') + getRelativePercentage(grade['assignment']['grade_overview'], grade['grade'], grade['assignment']['total_submissions'])}}</p>
    <p class="content-announcement"><i>{{"Slagingspercentage: "}}</i> {{grade['assignment']['passed'] + " student(en) heeft/ hebben het gehaald (" +  ((grade['assignment']['passed'] / grade['assignment']['total_submissions']) * 100| number:'1.0-1') + "%)"}}</p>
    <p class="content-announcement"><i>{{"Gemiddeld cijfer: "}}</i> {{(grade['assignment']['avg_grade']| number:'1.0-2')}}</p>
    <p class="content-announcement"><i>{{"Credit(s): "}}</i> {{grade['assignment']['credits']}}</p>

    <blockquote class="blockquote mb-0 mt-3">
      <footer class="blockquote-footer"><small>{{"Door: " + grade['recorder']['user']['full_name'] + " op: " + grade['created_at']}}</small></footer>
    </blockquote>
  </mat-expansion-panel>
</mat-accordion>
