<div class="row mb-4">
  <div class="col">
    <label>Vak</label>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control mb-2" placeholder="Vak">
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <label for="page-text">Tekst op pagina</label>
    <textarea class="form-control" id="page-text"></textarea>
  </div>
</div>


<div class="row mb-4">
  <div class="col">
    <button class="btn btn-block btn-primary">Opslaan</button>
  </div>
</div>
